.panda {
  max-height: 12rem;
}

.hero-section {
  background-size: cover;
  background-color: #000000;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-links {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.login-nav {
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}

.register-nav {
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}
.hero-links ul {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-links ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-image: url('../assets/movienight.png');
  background-size: cover;
  opacity: 0.3;
}

.hero-content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  padding: 8px;
}

.feature i {
  font-size: 65px;
}


.hero-content h1 {
  font-size: 36px;
  margin-bottom: 12px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 24px;
}

.main-search-input {
  flex-basis: 70%;
  padding: 12px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  border: black;
  border-style: inset;
}

@media screen and (max-width: 600px) {
  .main-search-input {
    flex-basis: 60%;
  }
}

.main-search-button {
  background-color: #757575;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .main-search-button {
    font-size: 14px;
  }
}


.features-section {
  background-color: #000000;
  color:white;
  padding: 48px 0;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features-list li {
  width: 100%;
  max-width: 400px;
  margin: 12px;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .features-list li {
    font-size: 14px;
  }
}


.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  border: 2px solid #ffffff;
  border-radius: 16px;
  padding: 24px;
  background-color: #1b1b1b;
  color: white;
  height: 300px;
}

.feature img {
  width: 64px;
  height: 64px;
  margin-right: 24px;
  border-radius: 50%;
}

.feature p {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  flex-grow: 1; 
}

@media screen and (max-width: 600px) {
  .feature p {
    font-size: 16px;
  }
}


.movie-section {
  background-color: black;
  color: white;
}

.movie-title {
  padding:20px;
}
.movie-list {
  display: grid;
  color:white;
  background-color: black;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.movie-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
  
}

.movie-card:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.movie-card img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.movie-info {
  padding: 20px;
  border: rgba(0, 0, 0);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.frame:hover {
  transform: scale(1.1);
    transition-duration: 0.5s;
}

.movie-info a:visited {
  color: lightgray;
}
