/* Container for the movie poster and backdrop */
.movie-details {
  position: absolute;
  width: 100vw;
  height: 600px;
  object-fit: contain;
  text-align: left;
}

/* Movie poster */
.movie-poster {
  display: flex;
  position: inherit;
  top: 75px;
  left: 100px;
  width: auto;
  height: 75%;
  /* max-width: fit-content; */
  /* background-image: url(`https://image.tmdb.org/t/p/w500${movie.poster_path}`); */
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 1;
  border-radius: 10px;
}

/* Movie backdrop */
.movie-backdrop {
  z-index: -1;
  position: absolute;

}

.backdropDiv {
  position: relative;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: end;
}

.backdrop-gradient {
  height: 100%;
  width: 100vw;
  position: absolute;
  /* top: -600px; */
  background: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0.1));
  display: flex;
  justify-content: end;
}

.movie-text {
  position: absolute;
  /* padding-top: 200px; */
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  text-shadow: 1px 1px 1px #000;
}

.buttons {
  margin-top: 650px;
}

.movie-dropdown {
  display: flex;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: transparent;
  padding: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 75px;
  max-height: 75px;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
}

.movie-dropdown p {
  margin: 0;
  font-weight: 900;
}

.movie-dropdown img {
  height: 75px;
  width: 75px;
}

.movie-dropdown a {
  display: block;
  margin-bottom: 1rem;
}

/* Title and metadata */
.movie-details h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.movie-details p {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* Watch provider logos */
.movie-details img {
  max-height: 100%;
  margin-right: 10px;
}

/* Favorite and watchlist buttons */
.movie-details button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  float: center;
  margin-left: 150px;
}

.movie-details button:hover {
  background-color: #d32f2f;
}

.stream-btn {
  border: 1px solid black;
  border-width: 3px;
  height: -1px;
  width: 460px;
  display: block;
  justify-content: center;
  font-size: small;
  padding-top: 80px;
  margin: auto;

}

.stream-btn:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}