.popular {
    background-color: black;
    color:white;
  }
  
  .popular-title {
    background-color: black;
    color:white;
    margin: 0 auto;
  }
  

.frame:hover {
    transform: scale(1.1);
      transition-duration: 0.5s;
  }