.c-form-title {
  width: 150px;
  text-align: left;
  }
  
  .c-form-input {
    width: 500px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    text-align: left;
  }
  
  
  .c-form-button:hover {
    background-color: #909090;
  }
  
  .c-form-submit {
    padding:30px;
  }