.discussions-firstlook {
    display: flex;
    flex-direction: row;
}

.discussions-dropdown {
    border: none;
    background-color: none;
}

.comments-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.comments-form {
border: 2px solid black;
}