.navbar {
    background-color: rgb(0, 0, 0);
    height: 100px !important;
    color: white
}

.navbar-logo {
    height: 95px;
    justify-content: baseline;
    margin: 0 10px;
}

.navbar-name {
    height: 60px;
    /* justify-content: baseline; */
}

.navbar-light {
    padding: 25px;
}

.navbar-link {
    margin: 0px 15px;
    font-size: larger;
    display: inline;
    /* padding-inline: 25px; */
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
    text-decoration: none;
    font-size: larger;
}

.navProfile {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}