body {
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
	url("/public/bg.jpg"); */
}

.navbar {
  background-color: rosybrown;
}


.navbar-logo {
  height: 150px;
  width: 150px;
  float: right;
  padding: 10px;
}

.navbar-light {
  padding: 25px;
}

.navbar-link {
  margin: 0px 15px;
  font-size: larger;
  display: inline;
  padding-inline: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:black;
  text-decoration: none;
  font-size: larger;
}


.Welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-top: -100px;
  margin-bottom: 90px;
}


.header img {
  width: 320px; 
  height: auto; 
  margin-right: 0px; 
  margin-top: -80px;
}

.register-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1rem;
}


input {
  margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1rem;

}

label {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.btn-register {
	padding: 0.5rem;
	border-radius: 4px;
	border: none;
	background-color: #0077cc;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.btn-register:hover {
	background-color: #0066b3;
}

.label-name-register {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-name {
	width: 100%;
}

.label-email-register {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-email {
	width: 100%;
}

.label-password-register {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-password {
	width: 100%;
}

.login-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1rem;
}

.btn-login {
	padding: 0.5rem;
	border-radius: 4px;
	border: none;
	background-color: #0077cc;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.btn-login:hover {
	background-color: #0066b3;
}

.label-password-login {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.label-email-login {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}