body {
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
	url("/public/bg.jpg"); */
}

.navbar {
  background-color: rosybrown;
}


.navbar-logo {
  height: 150px;
  width: 150px;
  float: right;
  padding: 10px;
}

.navbar-light {
  padding: 25px;
}

.navbar-link {
  margin: 0px 15px;
  font-size: larger;
  display: inline;
  padding-inline: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:black;
  text-decoration: none;
  font-size: larger;
}


.Welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  margin-top: -100px;
  margin-bottom: 90px;
}


.header img {
  width: 320px; 
  height: auto; 
  margin-right: 0px; 
  margin-top: -80px;
}

.register-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1rem;
}


input {
  margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1rem;

}

label {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.btn-register {
	padding: 0.5rem;
	border-radius: 4px;
	border: none;
	background-color: #0077cc;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.btn-register:hover {
	background-color: #0066b3;
}

.label-name-register {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-name {
	width: 100%;
}

.label-email-register {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-email {
	width: 100%;
}

.label-password-register {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-password {
	width: 100%;
}

.login-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1rem;
}

.btn-login {
	padding: 0.5rem;
	border-radius: 4px;
	border: none;
	background-color: #0077cc;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.btn-login:hover {
	background-color: #0066b3;
}

.label-password-login {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.label-email-login {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 320px;
  margin-top: 0px;
}

.register-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 320px;
  margin-top: -50px;
}

.login-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.register-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.register-inputs label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.register-inputs input {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  margin-bottom: 1rem;
}

.movienight-img {
  width: 1000px;
  height: 600px;
  margin-top: 310px;
  margin-left: -80px;
}

.register-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1rem;
}


input {
  margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1rem;

}

label {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.btn-register {
	padding: 0.5rem;
	border-radius: 4px;
	border: none;
	background-color: #0077cc;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.btn-register:hover {
	background-color: #0066b3;
}

.label-name-register {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-name {
	width: 100%;
}

.label-email-register {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-email {
	width: 100%;
}

.label-password-register {
	width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-password {
	width: 100%;
}

.login-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1rem;
}

.btn-login {
	padding: 0.5rem;
	border-radius: 4px;
	border: none;
	background-color: #0077cc;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
}

.btn-login:hover {
	background-color: #0066b3;
}

.popular-title {
  font-size: xxxx-large;
}
